<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar-wrapper">
    <app-button-demolay icon="demolay"></app-button-demolay>
  </div>

  <div class="agostinho-wrapper" *ngIf="mensagensAgostinho">
    <h3 class="badge-cargo">{{ meuCargo }}</h3>

    <div class="mensagens">
      <ng-template ngFor let-mensagem [ngForOf]="mensagensAgostinho">
        <div class="mensagem-item">
          <div class="avatar-mensagem">
            <app-button-demolay icon="demolay"></app-button-demolay>
          </div>
          <div class="mensagem-box">
            {{ mensagem.mensagem }}
          </div>
        </div>
        <span class="mensagem-hora">{{ mensagem.created_at | date:'HH:mm dd/MM/yyyy ' }}</span>
      </ng-template>
    </div>

    <ion-infinite-scroll 
      threshold="100px" *ngIf="mensagensAgostinho && mensagensAgostinho >= 10" 
      (ionInfinite)="carregarMaisMensagens($event)">
      <ion-infinite-scroll-content loadingSpinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>