.tarefa-item {
  width: calc(100% - 32px);
  padding: 12px 16px;
  margin: 8px auto;
  background-color: #666;
  border-radius: 8px;
  border-left: 8px solid #999;
  &.atividade-realizada {
    border-left-color: #d7ebeb;
  }
  &.atividade-nao-formulada {
    border-left-color: #f6efe3;
  }
  &.atividade-realizada {
    border-left-color: #d5cbe0;
  }
  &.atividade-enviada {
    border-left-color: #d5e1f6;
  }
  &.atividade-devolvida {
    border-left-color: #dbdbdb;
  }
  &.atividade-recusada {
    border-left-color: #fbd4dc;
  }
  &.atividade-aprovada {
    border-left-color: #e3ffe5;
  }
  .tarefa-title {
    margin-bottom: 4px;
  }
  .tarefa-info {
    display: flex;
    align-items: center;
    small {
      margin-left: 8px;
    }
    span {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 10px;
      max-width: fit-content;
      border-radius: 12px;
      padding: 2px 8px;
      text-transform: uppercase;
      ion-icon {
        margin-right: 4px;
      }
      &.atividade-realizada {
        background-color: #d7ebeb;
        color: #568d8d;
      }
      &.atividade-nao-formulada {
        background-color: #f6efe3;
        color: #866e4a;
      }
      &.atividade-realizada {
        background-color: #d5cbe0;
        color: #4d3068;
      }
      &.atividade-enviada {
        background-color: #d5e1f6;
        color: #2a4270;
      }
      &.atividade-devolvida {
        background-color: #dbdbdb;
        color: #000000;
      }
      &.atividade-recusada {
        background-color: #fbd4dc;
        color: #dc143c;
      }
      &.atividade-aprovada {
        background-color: #e3ffe5;
        color: #2d9736;
      }
    }
  }
}
