app-content {
    .seletor-inicial {
        .item-acao {
            display: flex;
            align-items: center;
            padding: 8px 0;
            text-align: center;
            .item-icone {
                font-size: 32px;
                padding-right: 12px;
                ion-icon {
                    display: flex;
                }
            }
        }
    }

    app-botoes-acao {
        margin-top: 32px;
        display: block;
    }

    ion-searchbar {
        --background: rgba(0, 0, 0, 0.35);
        --placeholder-color: #fff;
        --color: #fff;
        margin-bottom: 12px;
    }
}