<ion-content>
    <section id="forms-login-cadastro">
        <div class="login-wrapper">
            <div class="avatar-demolay">
                <img src="/assets/demolay.png" alt="Desenho de um demolay" />
            </div>
            <div class="form-login-cadastro">
                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Senha</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-fab-button>
                    <ion-icon name="play"></ion-icon>
                </ion-fab-button>
            </div>
            <div class="form-opcoes">
                <ion-button fill="clear">
                    Cadastre-se
                </ion-button>
            </div>
        </div>
    </section>
</ion-content>