<ion-content>
  <section id="forms-login-cadastro">
    <div class="login-wrapper">
      <app-button-demolay icon="demolay" *ngIf="!isCadastro"></app-button-demolay> 

      <div class="form-login-cadastro">

        <div class="input-azul">
          <ion-label>Email</ion-label>
          <ion-input [(ngModel)]="informacoesUsuario.email"></ion-input>
        </div>
        <div class="input-azul">
          <ion-label>Senha</ion-label>
          <ion-input [(ngModel)]="informacoesUsuario.password" type="password"></ion-input>
        </div>
        <div class="input-azul" *ngIf="isCadastro">
          <ion-label>ID Demolay</ion-label>
          <ion-input [(ngModel)]="informacoesUsuario.id_demolay"></ion-input>
        </div>
        <div class="input-azul" *ngIf="isCadastro">
          <ion-label>Número do capítulo</ion-label>
          <ion-input [(ngModel)]="informacoesUsuario.capitulo"></ion-input>
        </div>

        <ion-fab-button (click)="login()" *ngIf="!isCadastro">
          <ion-icon name="play"></ion-icon>          
        </ion-fab-button>
        <ion-button *ngIf="isCadastro" expand="block" fill="outline" (click)="cadastro()">
          <ion-icon name="create" *ngIf="isCadastro" slot="start"></ion-icon>
          <ion-label *ngIf="isCadastro">Cadastrar</ion-label>
        </ion-button>

      </div>
      <div class="form-opcoes">
        <ion-button fill="clear" *ngIf="!isCadastro" (click)="isCadastro = true">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          Cadastre-se
        </ion-button>
        <ion-button fill="clear" *ngIf="isCadastro" (click)="isCadastro = false">
          <ion-icon name="arrow-back" slot="start"></ion-icon>
          Voltar para login
        </ion-button>
      </div>
      <ion-text class="creditos">
        <span>Feito por Demolays para Demolays</span>
        <small>Desenvolvimento: Breno Freire</small>
        <small>Design: Pedro Franco</small>
        <small>Idealização: Filipe Carvalho e Rafael Pessoa</small>
      </ion-text>
    </div>
  </section>
</ion-content>