app-content {
  width: calc(100% - 64px);
  margin: 0 auto;
  > * {
    text-align: center;
  }
  .capitulo-info {
    text-align: center;
    h1 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .campanhas {
    margin: 0 auto;
    padding: 12px 0;   
  }  
}