<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button fill="clear" slot="end" (click)="logout()">
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-content>
    <app-loader *ngIf="!usuarioLogado || !campanhas" texto="Carregando informações de campanhas..."></app-loader>

    <app-pseudo-title>
      <p [innerHTML]="toMeuCargo()"></p>
    </app-pseudo-title>

    <ng-template [ngIf]="usuarioLogado && campanhas && usuarioLogado.capituloInfo && usuarioLogado.capituloInfo.nome">
      <div class="capitulo-info">
        <h2>Capítulo:</h2>
        <h1>{{ usuarioLogado.capituloInfo.nome }} Nº {{ usuarioLogado.capituloInfo.numero }}</h1>
      </div>

      <div class="campanhas">
        <ng-template ngFor let-campanha [ngForOf]="campanhas">
          <app-campanha-item [campanha]="campanha"></app-campanha-item>
        </ng-template>
      </div>

      <app-botoes-acao>
        <app-button-dm icon="dm" texto="Agostinho" tamanho="80" (click)="abrirPage('agostinho')"> </app-button-dm>

        <app-button-dm icon="acompanhamento" texto="Acompanhamento" tamanho="80" (click)="abrirPage('acompanhamento')"> </app-button-dm>
      </app-botoes-acao>
    </ng-template>
  </app-content>
</ion-content>
