.home-page-wrapper {
  width: calc(100% - 64px);
  margin: 0 auto;
  > * {
    text-align: center;
  }
  .pseudo-title {
    margin-bottom: 32px;
    font-size: 13px;
  }
  .capitulo-info {
    text-align: center;
    h1 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .campanhas {
    margin: 0 auto;
    padding: 24px 0;   
  }
}