<ion-header>
  <ion-toolbar>
    <ion-title>Central de Capítulos</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="org-wrapper">
    <ion-button expand="block" fill="clear" (click)="limparOrgManuseada()" *ngIf="frozenOrganizacao">
      <span>Editando: {{ frozenOrganizacao }}</span>
      <ion-icon slot="end" name="close-circle" color="danger"></ion-icon>
    </ion-button>

    <ion-searchbar class="ion-no-padding" placeholder="Buscar por capítulo..." [(ngModel)]="termoBusca" (ionChange)="debounceSearch()">
    </ion-searchbar>

    <ion-input [(ngModel)]="organizacao.nome" placeholder="Nome"></ion-input>
    <ion-input [(ngModel)]="organizacao.numero" type="number" placeholder="Número do Capítulo"></ion-input>
    <ion-input [(ngModel)]="organizacao.sigla" placeholder="Sigla do Capítulo, exemplo: CCOD"></ion-input>
    <ion-input [(ngModel)]="organizacao.ofex" type="number" placeholder="Número da Ofex"></ion-input>

    <ion-button expand="block" (click)="salvarInfo()">Salvar</ion-button>

    <app-loader *ngIf="carregandoOrgs" texto="Carregando informações..."></app-loader>

    <ng-template [ngIf]="temOrganizacoes">
      <div *ngFor="let org of organizacoes">
        <app-capitulo-item [capitulo]="org" (click)="setarOrgManuseada(org)"></app-capitulo-item>
      </div>
    </ng-template>
  </div>
</ion-content>
